<section id="realTimeProducts">
    <h1>Datos del producto</h1>
    <form class="products-form" id="formProduct">
        <div id="fe-title" class="formElement">
            <label for="title" class="form-label">Nombre del producto</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="title" id="title" value="{{product.title}}" required>
            </div>
        </div>
        <div id="fe-price" class="formElement">
            <label for="price" class="form-label">Precio</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="number" name="price" id="price" value="{{product.price}}" required>
            </div>
        </div>
        <div id="fe-imgUrl" class="formElement">
            <label for="thumbnails" class="form-label">URL Imagen</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="thumbnails" id="thumbnails" value="{{product.thumbnails}}" required>
            </div>
        </div>
        <div id="fe-code" class="formElement">
            <label for="code" class="form-label">Codigo</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="code" id="code" value="{{product.code}}" required>
            </div>
        </div>
        <div id="fe-category" class="formElement">
            <label for="category" class="form-label">Categoria</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="category" id="category" value="{{product.category}}" required>
            </div>
        </div>
        <div id="fe-stock" class="formElement">
            <label for="stock" class="form-label">Stock</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="number" name="stock" id="stock" value="{{product.stock}}" required>
            </div>
        </div>
        <div id="fe-description" class="formElement">
            <label for="description" class="form-label">Descripcion</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <textarea class="form-control" name="description" id="description" required>{{product.description}}</textarea>
            </div>
        </div>
        <div id="fe-status" class="formElement">
            <div class="form-check">
                <label class="form-check-label" for="statusCheck">Estado</label>
                <input name="status" class="form-check-input" type="checkbox" id="statusCheck" {{isActive}}>
            </div>
        </div>
        <div id="fe-btn" class="formElement">
            <button class="form-btn" id="{{product._id}}" type="submit">Registrar</button>
        </div>
    </form>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/editProducts.js"></script>