<section id="products">
    <h1>Listado de Productos</h1>
    <article class="prodList">
        {{#each products}}
        <div class="productCard">
            <div class="imgContainer">
                <img src="{{thumbnails.[0]}}" alt="{{title}}">
            </div>
            <h2>{{title}}</h2>
            <ul>
                <li><span>description:</span> {{description}}</li>
                <li><span>price:</span> {{price}}</li>
                <li><span>code:</span> {{code}}</li>
                <li><span>category:</span> {{category}}</li>
                <li><span>stock:</span> {{stock}}</li>
            </ul>
        </div>
        {{/each}}
    </article>
</section>