<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <title>Document</title>
</head>

<body>
    {{#if isMenu}}
    <nav>
        <div class="nav-logo">
            Aberasturi Agro
        </div>
        <div class="nav-elements">
            <div class="nav-links">
                <a class="nav-link {{homeLink}}" href="/products">Home</a>
                <a class="nav-link {{prodLink}}" href="/products">Productos</a>
                <a class="nav-link {{rtpLink}}" href="/realTimeProducts">En tiempo real</a>
            </div>
            {{#if isCart}}
            <a class="cart-logo {{cartLink}}" href="/cart/66ceacd2146f2c5d2730defd"><img src="../../../static/assets/img/carrito-de-compras.png" alt=""></a>
            {{/if}}
        </div>
    </nav>
    {{/if}}
    {{{body}}}
</body>
<script src="/static/assets/js/index.js"></script>

</html>