<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <title>{{docTitle}}</title>
</head>

<body>
    {{#if isMenu}}
    <nav>
        <div class="nav-logo">
            Aberasturi Agro
        </div>
        <div class="nav-elements">
            <div class="nav-links">
                <a class="nav-link {{homeLink}}" href="/products">Home</a>
                <a class="nav-link {{prodLink}}" href="/products">Productos</a>
                <a class="nav-link {{rtpLink}}" href="/realTimeProducts">En tiempo real</a>
            </div>
            {{#if isUser}}
            <a id="{{cart}}" class="user-logos" href="/cart/{{cart}}">
                <img src=" /static/assets/img/carrito-de-compras.png" alt="">
                <div class="cart-quantity">{{cartQty}}</div>
            </a>
            {{/if}}
            {{#if showUserBtn}}
            <div class="user-logos user"><img src="/static/assets/img/user.png" alt=""></div>
            {{#if isLoggedIn}}
            <ul class="dropdown">
                <li class="logoutBtn"><a href="/api/sessions/logout">Logout</a></li>
            </ul>
            {{else}}
            <ul class="dropdown">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
            {{/if}}
            {{/if}}
        </div>
    </nav>
    {{/if}}
    {{{body}}}
</body>
<script src="/static/assets/js/index.js"></script>

</html>